// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);
	
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	
	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf) {
	$src: null;
	
	$extmods: (
			eot: "?",
			svg: "#" + str-replace($name, " ", "_")
	);
	
	$formats: (
			otf: "opentype",
			ttf: "truetype"
	);
	
	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}
	
	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin box-shadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow:    $box-shadow;
	box-shadow:         $box-shadow;
}

@mixin transition($transition) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}

@mixin transform($transform) {
	-moz-transform:    $transform;
	-o-transform:      $transform;
	-webkit-transform: $transform;
	transform:         $transform;
}

@mixin transform-origin($transform-origin) {
	-moz-transform-origin:    $transform-origin;
	-o-transform-origin:      $transform-origin;
	-webkit-transform-origin: $transform-origin;
	transform-origin:         $transform-origin;
}

@mixin animation($animation...) {
	-o-animation: $animation;
	-moz-animation: $animation;
	-webkit-animation: $animation;
	animation: $animation;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin linear-gradient($top, $bottom){
	background: $top; /* Old browsers */
	background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin horizontal-gradient($from, $to, $stop: 100%) {
	background-color: $from; /* fallback/image non-cover color */
	background-image: -moz-linear-gradient(left, $from 0%, $to $stop); /* Firefox 3.6+ */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to)); /* Safari 4+, Chrome 1+ */
	background-image: -webkit-linear-gradient(left, $from 0%, $to $stop); /* Safari 5.1+, Chrome 10+ */
	background-image: -o-linear-gradient(left, $from 0%, $to $stop); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, $from 0%, $to $stop); /* IE10+ */
	background: linear-gradient(to right, $from 0%, $to $stop); /* Standard */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 ); /* IE6-9 */
}

@mixin keyframe ($animation_name) {
	@-webkit-keyframes #{$animation_name} {
		@content;
	}
	
	@-moz-keyframes #{$animation_name} {
		@content;
	}
	
	@-o-keyframes #{$animation_name} {
		@content;
	}
	
	@keyframes #{$animation_name} {
		@content;
	}
}