@import "mixins";

@include font-face('Heebo', '../fonts/Heebo-Light', 300);
@include font-face('Heebo', '../fonts/Heebo-Regular', 400);
@include font-face('Heebo', '../fonts/Heebo-Bold', 700);

body {
	font-family: 'Heebo', Arial;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	@include transition(background .3s);
	
	.navbar-brand {
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-size: 10px;
		color: #fff;
		
		svg {
			stroke: #fff;
			height: 45px;
			width: 65px;
		}
		
		h2 {
			font-size: 2.8em;
		}
		
		h3 {
			font-family: Consolas, Arial;
			font-size: 1.16em;
		}
	}
	
	.social-networks {
		margin-left: 120px;
		
		.nav-item {
			margin-left: 30px;
			
			&:last-child {
				margin-left: 0;
			}
		}
		
		svg {
			fill: #fff;
			height: 18px;
			width: 18px;
			vertical-align: middle;
			display: inline-block;
		}
	}
	
	.main-nav {
		.nav-item {
			margin-left: 30px;
		}
		.nav-link {
			font-size: 1.2rem;
			color: #fff;
		}
	}
	
	.nav-link {
		@include transform(translateY(0));
		@include transition(transform .3s);
		
		&:hover, &:focus {
			@include transform(translateY(-5px));
			@include transition(transform .3s);
		}
	}
	
	&.dark-header {
		background: #292929;
		@include transition(background .3s);
	}
}

main {
	position: relative;
	z-index: 10;
	margin-top: calc(100vh + 100px);
}

.parallax-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	min-height: 400px;
	overflow: hidden;
	z-index: 10;
	
	img {
		width: 100%;
	}
	&:after {
		content: '';
		opacity: .6;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
		background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	}
}

.about {
	position: relative;
	background: #fff;
	@include transform(translateY(-100px));
	
	.wrapper {
		background: #fff;
		padding: 0 2.5rem;
		margin-bottom: -120px !important;
		@include border-radius(10px 10px 0 0);
		@include box-shadow(0 -17px 20px 0px rgba(0, 0, 0, 0.08));
		@include transform(translateY(-100px));
	}
	.avatar {
		width: 200px;
		height: 200px;
		margin: auto;
		overflow: hidden;
		@include transform(translateY(-50%));
		@include border-radius(50%);
		@include box-shadow(0 0 14px 2px rgba(0, 0, 0, 0.15));
		
		img {
			max-width: 100%;
		}
	}
	
	.h1 {
		margin-top: -60px;
		margin-bottom: 20px;
	}
	
	p {
		font-size: 1.5rem;
	}
}

.portfolio {
	background: #fff;
	padding: 80px 0 0;
	//margin-bottom: 80px;
	
	.h1 {
		position: relative;
		z-index: 10;
		text-align: center;
		margin: 0 0 -130px;
		font-size: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		
		&:before, &:after {
			content: '';
			height: 1px;
			width: 70px;
			display: block;
			background: #8b8b8b;
			margin: 0 25px;
		}
	}
	
	.projects {
		.item {
			position: relative;
			min-height: 80vh;
			width: 100%;
			padding-top: 200px;
			padding-bottom: 100px;
			
			.back_img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				
				img {
					width: 100%;
					height: 100%;
				}
				
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(255,255,255,.7);
				}
			}
			
			h3 {
				font-size: 2.3rem;
			}
			
			p {
				font-size: 1.3rem;
			}
			
			.gallery {
				li {
					margin-bottom: 15px;
					padding: 0 7.5px;
				}
			}
		}
	}
	
	/*h3 {
		font-size: 2.3rem;
	}
	
	p {
		font-size: 1.3rem;
	}
	
	.projects {
		margin: auto -7.5px -15px;
		
		li {
			padding-right: 7.5px;
			padding-left: 7.5px;
			margin-bottom: 15px;
		}
	}
	
	.previews {
		position: relative;
		
		.owl-nav {
			> button {
				position: absolute;
				top: 50%;
				color: #fff !important;
				font-size: 5rem !important;
				@include transform(translateY(-50%));
			}
			
			.owl-prev {
				right: 15px;
			}
			.owl-next {
				left: 15px;
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
			
			.owl-dot {
				border: 1px solid #fff;
				background: transparent;
				width: 10px;
				height: 10px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
				@include border-radius(50%);
				
				&:last-child {
					margin-left: 0;
				}
				&.active {
					background: #fff;
				}
			}
		}
	}*/
}

.contact_back {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: .75;
	
	img {
		max-width: 100%;
	}
	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	}
}
.contact_us {
	text-align: center;
	
	.h1 {
		color: #fff;
	}
	.h2 {
		color: #fff;
		font-weight: 300;
	}
	
	.social-networks {
		margin: 50px 0;
		
		.nav-item {
			margin-left: 40px;
			
			&:last-child {
				margin-left: 0;
			}
		}
		.nav-link {
			width: 65px;
			height: 65px;
			border: 1px solid #fff;
			text-align: center;
			@include border-radius(50%);
			
			svg {
				height: 30px;
				width: 30px;
				display: inline-block;
				vertical-align: middle;
				
				fill: #fff;
			}
		}
		
		.facebook_icon {
			margin-left: -6px;
		}
	}
}

footer {
	position: relative;
	background: #292929;
	padding: 1rem 2rem;
	color: #fff;
	
	svg {
		height: 30px;
		width: 40px;
		stroke: #fff;
	}
}



@media screen and (min-width: 1200px) {
	header {
		.navbar {
			padding-right: 4rem;
			padding-left: 4rem;
		}
	}
	
	.container {
		max-width: 1400px;
	}
}