@font-face {
  font-family: "Heebo";
  font-weight: 300;
  src: url("../fonts/Heebo-Light.eot?") format("eot"), url("../fonts/Heebo-Light.woff2") format("woff2"), url("../fonts/Heebo-Light.woff") format("woff"), url("../fonts/Heebo-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Heebo";
  font-weight: 400;
  src: url("../fonts/Heebo-Regular.eot?") format("eot"), url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff"), url("../fonts/Heebo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Heebo";
  font-weight: 700;
  src: url("../fonts/Heebo-Bold.eot?") format("eot"), url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.woff") format("woff"), url("../fonts/Heebo-Bold.ttf") format("truetype"); }

body {
  font-family: 'Heebo', Arial; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }
  header .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 10px;
    color: #fff; }
    header .navbar-brand svg {
      stroke: #fff;
      height: 45px;
      width: 65px; }
    header .navbar-brand h2 {
      font-size: 2.8em; }
    header .navbar-brand h3 {
      font-family: Consolas, Arial;
      font-size: 1.16em; }
  header .social-networks {
    margin-left: 120px; }
    header .social-networks .nav-item {
      margin-left: 30px; }
      header .social-networks .nav-item:last-child {
        margin-left: 0; }
    header .social-networks svg {
      fill: #fff;
      height: 18px;
      width: 18px;
      vertical-align: middle;
      display: inline-block; }
  header .main-nav .nav-item {
    margin-left: 30px; }
  header .main-nav .nav-link {
    font-size: 1.2rem;
    color: #fff; }
  header .nav-link {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s; }
    header .nav-link:hover, header .nav-link:focus {
      -moz-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      -moz-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      transition: transform 0.3s; }
  header.dark-header {
    background: #292929;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }

main {
  position: relative;
  z-index: 10;
  margin-top: calc(100vh + 100px); }

.parallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  min-height: 400px;
  overflow: hidden;
  z-index: 10; }
  .parallax-img img {
    width: 100%; }
  .parallax-img:after {
    content: '';
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */ }

.about {
  position: relative;
  background: #fff;
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px); }
  .about .wrapper {
    background: #fff;
    padding: 0 2.5rem;
    margin-bottom: -120px !important;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0 -17px 20px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 -17px 20px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0 -17px 20px 0px rgba(0, 0, 0, 0.08);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); }
  .about .avatar {
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.15); }
    .about .avatar img {
      max-width: 100%; }
  .about .h1 {
    margin-top: -60px;
    margin-bottom: 20px; }
  .about p {
    font-size: 1.5rem; }

.portfolio {
  background: #fff;
  padding: 80px 0 0;
  /*h3 {
		font-size: 2.3rem;
	}
	
	p {
		font-size: 1.3rem;
	}
	
	.projects {
		margin: auto -7.5px -15px;
		
		li {
			padding-right: 7.5px;
			padding-left: 7.5px;
			margin-bottom: 15px;
		}
	}
	
	.previews {
		position: relative;
		
		.owl-nav {
			> button {
				position: absolute;
				top: 50%;
				color: #fff !important;
				font-size: 5rem !important;
				@include transform(translateY(-50%));
			}
			
			.owl-prev {
				right: 15px;
			}
			.owl-next {
				left: 15px;
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
			
			.owl-dot {
				border: 1px solid #fff;
				background: transparent;
				width: 10px;
				height: 10px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
				@include border-radius(50%);
				
				&:last-child {
					margin-left: 0;
				}
				&.active {
					background: #fff;
				}
			}
		}
	}*/ }
  .portfolio .h1 {
    position: relative;
    z-index: 10;
    text-align: center;
    margin: 0 0 -130px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .portfolio .h1:before, .portfolio .h1:after {
      content: '';
      height: 1px;
      width: 70px;
      display: block;
      background: #8b8b8b;
      margin: 0 25px; }
  .portfolio .projects .item {
    position: relative;
    min-height: 80vh;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px; }
    .portfolio .projects .item .back_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .portfolio .projects .item .back_img img {
        width: 100%;
        height: 100%; }
      .portfolio .projects .item .back_img:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7); }
    .portfolio .projects .item h3 {
      font-size: 2.3rem; }
    .portfolio .projects .item p {
      font-size: 1.3rem; }
    .portfolio .projects .item .gallery li {
      margin-bottom: 15px;
      padding: 0 7.5px; }

.contact_back {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: .75; }
  .contact_back img {
    max-width: 100%; }
  .contact_back:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */ }

.contact_us {
  text-align: center; }
  .contact_us .h1 {
    color: #fff; }
  .contact_us .h2 {
    color: #fff;
    font-weight: 300; }
  .contact_us .social-networks {
    margin: 50px 0; }
    .contact_us .social-networks .nav-item {
      margin-left: 40px; }
      .contact_us .social-networks .nav-item:last-child {
        margin-left: 0; }
    .contact_us .social-networks .nav-link {
      width: 65px;
      height: 65px;
      border: 1px solid #fff;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .contact_us .social-networks .nav-link svg {
        height: 30px;
        width: 30px;
        display: inline-block;
        vertical-align: middle;
        fill: #fff; }
    .contact_us .social-networks .facebook_icon {
      margin-left: -6px; }

footer {
  position: relative;
  background: #292929;
  padding: 1rem 2rem;
  color: #fff; }
  footer svg {
    height: 30px;
    width: 40px;
    stroke: #fff; }

@media screen and (min-width: 1200px) {
  header .navbar {
    padding-right: 4rem;
    padding-left: 4rem; }
  .container {
    max-width: 1400px; } }
